body {
  padding: 0;
  margin: 10;
}

h1{
  font-family: 'Pacifico';
  position: absolute;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
}


.image {
  background-image: url('https://i.pinimg.com/originals/70/0e/6a/700e6a06e2dc3c5174178ba09a8b094d.jpg');
  height: 180px;
  width: 100%;
  background-repeat: no-repeat;
  position: flex;
  background-position: 50% 35%;
  background-size: auto 630px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

.some-text, .welcome{
  color: whitesmoke;
  font-size: 5em;
  display: block;
}

#search-item {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sorry {
  font-size: 20px;
}

#search {
background-color: white;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#search:hover, #search:focus {
background-color: whitesmoke;
}


#random {
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#random:hover, #random:focus {
  background-color: whitesmoke;
}

body {
  padding: 0;
  margin: 1em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #000;
  background: whitesmoke ;
}
h1, h2, h3, h4, p {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
}
h1 {
  font-size: 28px;
  font-weight: bold;
  color:midnightblue;
  font-family: "Times New Roman", sans-serif;
}
h2 {font-weight: bold;}
a {color: #000; text-decoration: none;}
input, button {
  border: 1px solid #E6E6E6;
  padding: 3px;
  border-radius: 0;
}
div.reccomendation-card button {
  background-color: #F7F7F7;
  border: 1px solid #E6E6E6;
  cursor: pointer;
}
div.reccomendation-card {
 display: grid;
 grid-gap: 20px;
}
#cocktail-card-container {
  color: black;
  width: 400px;
  margin: auto;
  border: 1px solid black;
  padding: 24px 32px 32px;
  text-align: left;
  display: grid;
  grid-gap: 20px;
}

#drinkImg{
  border-radius: 8px;
}

img{
  width: 200px
}
#homeimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button{
    background: none;
    cursor: pointer;
    display: inline;
}
button:hover {
  background-color: #E6E6E6;
}

input {
  font-size: 13px;;
}