
h1{
  font-family: 'Pacifico';
  position: absolute;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
}


.image {
  background-image: url('https://i.pinimg.com/originals/70/0e/6a/700e6a06e2dc3c5174178ba09a8b094d.jpg');
  height: 180px;
  width: 100%;
  background-repeat: no-repeat;
  position: flex;
  background-position: 50% 35%;
  background-size: auto 630px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

.some-text, .welcome{
  color: whitesmoke;
  font-size: 5em;
  display: block;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#search-item {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sorry {
  font-size: 20px;
}

#search {
background-color: white;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#search:hover, #search:focus {
background-color: whitesmoke;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#random {
  position: relative;
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

#random::after{
  content: "";
  background: #742f37;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#random:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#random:hover, #random:focus {
  background-color: whitesmoke;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h1, h2, h3, h4, p, span, button, input {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
}
h1 {
  font-size: 28px;
  font-weight: bold;
  color:midnightblue;
  font-family: "Times New Roman", sans-serif;
}
h2 {font-weight: bold;}
a {color: #000; text-decoration: none;}
input, button {
  border: 1px solid #E6E6E6;
  padding: 3px;
  border-radius: 0;
}
div.reccomendation-card button {
  background-color: #F7F7F7;
  border: 1px solid #E6E6E6;
  cursor: pointer;
}
div.reccomendation-card {
 display: grid;
 grid-gap: 20px;
}
#cocktail-card-container {
  background-color: whitesmoke;
  color: black;
  width: 400px;
  margin: auto;
  border: 1px solid black;
  padding: 24px 32px 32px;
  text-align: left;
  display: grid;
  grid-gap: 20px;
}

#drinkImg{
  border-radius: 8px;
}

img{
  width: 200px
}
#homeimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button{
    background: none;
    cursor: pointer;
    display: inline;
    border: none;
    outline: none;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.commentBtn {
  border-color: black;
}

.commentBtn:hover {
  background-color: black;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input {
  font-size: 13px;;
}

.title {
  display:block;
  position: relative;
  z-index: 3;
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
min-height:100%;
display:block;
background-size: cover;
}


.stars {
background:#000 url("stars.png") repeat top center;
z-index:0;
}

.twinkling{
background:transparent url("twinkling.png") repeat top center;
z-index:1;
animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url("clouds.png") repeat top center;
  z-index:2;
  animation:move-clouds-back 200s linear infinite;
  height: auto;
  width: auto;
  background-size: cover;
  opacity: 0.2;
}